<p>user-list works!</p>
<table mdbTable bordered="true">
    <thead>
        <tr>
            <th scope="col"> #</th>
            <th scope="col"> Id</th>
            <th scope="col">user Name</th>
            <th scope="col">user Email</th>
        </tr>
    </thead>

    <tbody>
        <tr mdbTableCol  *ngFor="let user of userArr;index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td class="mr-2">{{user.userId}}</td>
            <td class="mr-2">{{user.userName}}</td>
            <td class="mr-2">{{user.userEmail}}</td>
        </tr>
    </tbody>
</table>