<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
           </p>
        
         

        <form [formGroup]="authForm" (ngSubmit)="submitForm()">

          <label>
            email:
            <input type="text" formControlName="email"  value='admin@admin.com'>
          </label>
        <label>
          username:
            <input type="text" formControlName="username" value='admin'>
          </label>
      
        <button type="submit">Submit Application</button>
        </form> 
      </div>

    </div>
  </div>
</div>
